body {
	background: url(../pictures/pawprint.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

#ever {
	width: 760px;
	height: 400px;
	margin-left: 600px;
}

#hey {
	font-family: Futura;
	font-size: 200px;
	margin-top: -350px;
	position: absolute;

}

#cute {
	width: 600px;
	height: 400px;
	margin-left: 500px;

}

#la {
	font-family: Avenir;
	font-size: 40px;
	margin-right: 700px;
	width: 500px;
	height: 100px;
}


#heart {
	width: 500px;
	height: 400px;
	margin-left: 500px;


}

#love {
	font-family: din condensed;
	font-size: 150px;
	position: absolute;
}

#dog {

	width: 500px;
	height: 500px;
	margin-left: 80px;
	margin-top: -200px;

}




#duck {
	width: 500px;
	height: 800px;
	margin-left: 500px;
	margin-top: 100px;
}

#broccoli {
	width: 1200px;
	height: 900px;
	margin-left: 80px;


}

#what {
	font-family: futura;
	font-size: 100px;
	margin-left: 100px;
	width: 1400px;
	height: 150px;
	margin-top: -100px;

}

#heart {
	margin-left: 100px;
	width: 800px;
	height: 500px;
}

#stove {
	width: 800px;
	height: 1000px;
	margin-left: 50px;

}

#read {
	width: 100px;
	height:  1000px;
	font-size: 90px;
	font-family: din condensed;
	margin-left: 1000px;
	margin-top: -1000px;
	
}

#ah {
	width: 600px;
	height: 200px;
	font-size: 250px;
	margin-top: -950px;
	font-family: Futura;
	margin-left: 100px;
	position: absolute;

}



#glasses {
	width: 500px;
	height: 700px;
	margin-left: 680px;
	margin-top: -500px;
}


#roll {
	font-family: Futura ;
	font-size: 60px;
	margin-left: 60px;
	margin-top: 200px;
}



#blah {
	margin-top: 500px;

}

#skate {
	margin-top: 100px;
}

#mirror {
	width: 800px;
	height: 600px;
	margin-left: 1700px;
	margin-top: -400px;
}

#jump {
	margin-left: 1400px;
	width: 700px;
	height: 500px;
	margin-top: 200px;

}

#hot {
	margin-left: 1200px;
}

#beach {
	margin-left: 1200px;
	margin-top: 200px;
}

#bath {
	
	margin-left: 2200px;
	margin-top: 300px

}

#ruff {
	font-size: 150px;
	font-family: futura;
	margin-left: 1900px;
	margin-top: -500px;
	width: 800px;
	height: 200px;
}

#blah {
	margin-left: 70px;
	margin-top: 350px;

}





